<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SqlStr" value="" />
    <add key="Server" value="" />
    <add key="Port" value="" />
    <add key="Database" value="" />
    <add key="User" value="" />
    <add key="Password" value="" />
    <add key="SqlType" value="" />
  </appSettings>
  <connectionStrings>
    <add name="MySqlStr" connectionString="Server='124.238.155.42';Port='3306';Database='spider'; User='spider_test';Password='hY16noBc=';SslMode=none;" />
    <add name="SqlServerStr" connectionString="" />
    <add name="AccessStr" connectionString="" />
  </connectionStrings>
</configuration>